{% extends 'about.html' %}
 {% block description %}
 <p>At the start of a graphic design or website development project, each client will receive a detailed timeline. Our carefully designed process is meant to ensure customer satisfaction througout the entire project life cycle, while maintaining a high level of efficiency.</p>
 <img src="/static/img/flowchart.png" alt="Flow Chart of our Process">
 {% endblock %}
{% block content %}				
<div id='about_our_process'>
	<div id="holder"></div>
	<h2 class="element-invisible">Two workflows</h2>
	<section class="process small-6 columns">
		<h3 class="ff1 ">Website Development Process</h3>
		<div id="web-process-desc" class="process-desc web-process">
		<ul class="indent">
			<li>
				<h4 class="m-top"><strong>Discovery Phase</strong></h4>
			</li>
			<li>Scope of Work</li>
			<li>Agreement to Begin Work</li>
			<li>Information Architecture</li>
			<li>Industry Research</li>
			<li>Visual Element Brainstorming</li>
		</ul>
		<ul class="indent">
			<li>
				<h4 class="m-top"><strong>Creative Phase</strong></h4>
			</li>
			<li>Site Map Development</li>
			<li>Database Schema</li>
			<li>Static Elements Design</li>
		</ul>
		<ul class="indent">
			<li>
				<h4 class="m-top"><strong>Technical Phase</strong></h4>
			</li>
			<li>Dynamic Elements Design</li>
			<li>Database Population</li>
			<li>CMS Development</li>
		</ul>
		<ul class="indent">
			<li>
				<h4 class="m-top"><strong>Review Phase</strong></h4>
			</li>
			<li>Website Testing</li>
			<li>Prepare Final Website Files</li>
			<li>Website Launch</li>
			<li>Website Files Delivered to Client</li>
		</ul>
		</div>
	</section>
	<section class="process small-6 columns last">
		<h3 class="ff1 ">Graphic Design Process</h3>
		<div id="creative-process-desc" class="process-desc creative-process">
			<ul class="indent">
				<li>
					<h4 class="m-top"><strong>Discovery Phase</strong></h4>
				</li>
				<li>Scope of Work</li>
				<li>Agreement to Begin Work</li>
				<li>Information Architecture</li>
				<li>Industry Research</li>
				<li>Visual Element Brainstorming</li>
			</ul>
			<ul class="indent">
				<li>
					<h4 class="m-top"><strong>Creative Phase</strong></h4>
				</li>
				<li>Visual Element Design</li>
				<li>Mock Up Design</li>
				<li>Develop Copy</li>
			</ul>
			<ul class="indent">
				<li>
					<h4 class="m-top"><strong>Development Phase</strong></h4>
				</li>
				<li>Final Layout Designs</li>
				<li>Design Preparation for Printing</li>
			</ul>
			<ul class="indent">
				<li>
					<h4 class="m-top"><strong>Review Phase</strong></h4>
				</li>
				<li>Final Design Approval</li>
				<li>Design Sent to Printer</li>
				<li>Design Files Delivered to Client</li>
			</ul>
		</div>
	</section>	      	
</div>
{% endblock %}	    