{% extends 'about.html' %}
{% block description %}
At BR Graphic Design, we strive to create custom, professional designs that are affordable. One of the ways we minimize our overhead costs is to utilize open source software whenever possible. Open source software is publicly published, therefore enabling anyone to copy, modify and redistribute the source code without paying royalties or fees. The result is that we are able to fill our computer with modern, up-to-date software and operating systems without having the added expense of costly software licenses.
{% endblock %}
{% block content %}		
<h1 class="m-top subtitle">Below is a sampling of the programs we utilize:</h1>
<div class="row">
	<div class="fourcol">
		<img src="/static/img/programcollage.jpg" alt="Logos of the programs we use">
	</div>
	<div class="onecol">
		&nbsp;
	</div>
	<div class="threecol">
		<ul class="m-top indent">
			<li><h2 class="subtitle ff3 m-top">Application Software</h2></li>
			<li><a title="Apache" href="http://www.apache.org/" target="_blank">Apache**</a></li>
			<li><a title="GIMP" href="http://www.gimp.org" target="_blank">GIMP**</a></li>
			<li><a title="Inkscape" href="http://www.inkscape.org" target="_blank">Inkscape**</a></li>
			<li><a title="Adobe Photoshop" href="http://www.adobe.com/products/photoshopfamily.html?promoid=JOLIW" target="_blank">Adobe Photoshop</a></li>
			<li><a title="Mozilla Firefox" href="http://www.mozilla.org" target="_blank">Mozilla Firefox**</a></li>
			<li>Google Chrome</li>
			<li>Apple Safari</li>
			<li>Internet Explorer</li>
			<li>Opera</li>
			<li><a title="Mozilla Thunderbird" href="http://www.mozilla.org/thunderbird/" target="_blank">Mozilla Thunderbird**</a></li>
			<li><a title="OpenOffice" href="http://www.openoffice.org" target="_blank">OpenOffice**</a></li>
		</ul>
		<ul class="indent">
			<li class="m-top"><h2 class="subtitle ff3 m-top">Operating Systems</h2></li>
			<li><a title="Ubuntu Linux" href="http://www.ubuntu.com" target="_blank">Ubuntu Linux**</a></li>
		</ul>
		<em>** – denotes open source </em>
	</div>
	<div class="threecol last">
		<ul class="indent">
			<li class="m-top "><h2 class="subtitle">Programming Languages</h2></li>
			<li><a title="CSS3" href="http://www.css3.info" target="_blank">CSS3</a></li>
			<li><a title="HTML5" href="http://www.w3.org/TR/html5/" target="_blank">HTML5</a></li>
			<li><a title="Javascript" href="https://developer.mozilla.org/en-US/docs/JavaScript/About_JavaScript?redirectlocale=en-US&amp;redirectslug=About_JavaScript" target="_blank">Javascript**</a></li>
			<li><a title="PHP" href="http://www.php.net/" target="_blank">PHP**</a></li>
			<li><a title="Python" href="http://www.python.org/" target="_blank">Python**</a></li>
		</ul>
		<ul class="indent">
			<li class="m-top "><h2 class="ff3 subtitle">Content Management Systems</h2></li>
			<li><a title="Drupal" href="http://www.drupal.org/" target="_blank">Drupal**</a></li>
			<li><a title="Wordpress" href="http://www.wordpress.org/" target="_blank">WordPress**</a></li>
			<li><a title="Ubercart" href="http://www.ubercart.org/" target="_blank">Ubercart/Drupal Commerce**</a> (Shopping Cart Software)</li>
		</ul>
	</div>
</div>
	      
{% endblock %}	      