{% extends 'base.html' %}
{% block description %}
<p>The design duo at BR Graphic Design holds over 20 years of experience in programming, graphic design, and marketing developed in both the public and private sectors. Whether your organization needs a simple business card design, or a custom website with content management or E-Commerce capabilities, they hold both the education and real-world experience to help your organization meet your strategic goals.</p>
{% endblock %}
{% block content %}
<section id="brandy-bio" class="small-12 columns mid_blue about-bio m-bottom">
	<div class="image-border small-3 columns fl">
		<img style="border: solid 4px white;" src="/static/img/brandy.png" alt="Brandy">
	</div>
	<div class='small-9 columns'>
		<h1><strong>Brandy Sites</strong></h1>
		<a href="mailto:%62%72%61ndy@b%72%67do%6Elin%65%2Ecom">brandy@brgdonline.com</a>
		<ul>
			<li class="m-top">Brandy holds a Bachelors of Business Administration from the University of Toledo with concentrations in Marketing and Electronic Commerce. Previous experience includes graphic design, marketing strategy development, program management, event coordination, and training and development. References available upon request.</li>
			<li class="m-top">In her spare time, Brandy enjoys spending time with her children, singing, playing the piano, and trying to train her two massive dogs.</li>
		</ul>
	</div>
</section>
<div class='m-top'>
	<section id="ryan-bio" class="small-12 columns mid_blue about-bio m-bottom m-top">
		<div class="image-border small-3 columns fl">
			<img style="border: solid 4px white;" src="/static/img/ryan.png" alt="Ryan">
		</div>
		<div class='small-9 columns'>
			<h1><strong>Ryan Sites</strong></h1>
			<a href="mailto:r%79a%6E@br%67%64onli%6Ee.c%6Fm">ryan@brgdonline.com</a>
			<ul>
				<li class="m-top">Ryan holds two Bachelors of Science with concentrations in Electrical Engineering and Computer Science from the University of Toledo and a Masters of Science in Computer Engineering from Wright State University. Previous experience includes web design in HTML, CSS, Javascript, PHP, Python, C++, and Java.</li>
				<li class="m-top">In his spare time, Ryan enjoys taking his children to the zoo, martial arts training, and weightlifting.</li>
			</ul>
		</div>
	</section>
</div>
{% endblock %}