{% include 'head.html' -%}
<body>
	<div id="page_wrapper" class="">
	  <header class="row">	  
	    <div class="large-6 columns">
	      <h1 id="logo" class='small-center'>
			<a href="{{url_for('index')}}" title="Home">
			   <img alt="BR Graphic Design" src="/static/img/logo.jpg" class="">  
			</a>
	      </h1>   
	    </div>  	  
	    <div id="main-nav" class="large-6 columns">
	      <div class="row" style="overflow:visible">
			<aside id="twitter-feed" class="periwinkle">				
			</aside>
	      </div>
		  	{% block main_navigation %}
		  	<nav class="">
				<h1 class='element-invisible'>Main Navigation</h1>  
			    <ul class="piped_nav small-block-grid-1 large-block-grid-6" >
				     <li class="{% if request.endpoint and 'about' in request.endpoint %}active{% endif %}"><a href="{{url_for('about')}}" title="About us">about</a></li>		      
				     <li class="{% if request.endpoint and 'services' in request.endpoint and 'portfolio' not in request.endpoint %}active{% endif %}"><a href="{{url_for('services')}}" title="Services we offer">services</a></li>
				     <li class="{% if request.endpoint and ('portfolio' in request.endpoint or 'client' in request.endpoint) %}active{% endif %}"><a href="{{url_for('portfolio')}}" title="Our portfolio">portfolio</a></li>
				     <li class="{% if request.endpoint and 'blog' in request.endpoint %}active{% endif %}"><a href="{{url_for('blog')}}" title="Blog">blog</a></li>
				     <li class="{% if request.endpoint and 'client-portal' in request.endpoint %}active{% endif %}"><a href="{{url_for('client_portal')}}" title="Client Portal">portal</a></li>
				     <li class="{% if request.endpoint and 'contact' in request.endpoint %}active{% endif %}"><a href="{{url_for('contact')}}" title="Contact us">contact</a></li>   
			    </ul>
			</nav>
			{% endblock %}
		</div>
		</header> 		
		<article id="content-wrapper" class="row">
		    <nav id='sidebar' class='large-2 columns side-nav'>
		    	<h1 class='element-invisible'>Sidebar navigation</h1>
		    	{% set x = 'sidebar-nav' %}
		    	{% if request.endpoint and 'blog' in request.endpoint %}
		    	{% set x = 'sidebar-nav-blog' %}
		    	{% endif %}
		    	<div id='{{x}}' class='m-bottom periwinkle'>	
			    	{% if user %}
		  				Currently logged in as {{user}}
		  			{% endif %}	
			    	{% block sidebar_nav %}		    		
			    		<ul>
						    {% for item in navigation %}
						        <li{% if request.path and request.path == item[0] %} class='active'{% endif %}><a href="{{ item[0] }}">{{ item[1] }}</a></li>
						    {% endfor %}
					    </ul>
					{% endblock %}
			    	<div id='sidebar-quote'>
			    		<a title='Contact us' href='{{url_for('contact')}}'>
			    			<img class='m-top center' src='/static/img/contactquotebutton.png'>
						</a>
					</div>
				</div>
			</nav>
			<div class='large-10 columns'> 
				<h1 class='small-center title'>{{title}}</h1>	  
				{% with messages = get_flashed_messages() -%}
			    	{% if messages -%}
					    <ul>
					    {% for message in messages -%}
					        <li>{{ message }} </li>
					    {% endfor -%}
					    </ul>
				    {% endif -%}
		    	{% endwith -%}							
				{% if testimonial %}
				<div  style="" class="">
					<div class=''>
						<div class='large-7 columns'>
					  		{% block description %}
					  		{% endblock %}	
					  	</div>
					  <aside class='large-5 columns last quote show-for-medium-up' >
						<h1 class='element-invisible'>Testimonial</h1>
						<div class='triangle-obtuse'>
							<blockquote class='quote-text '>
								<a rel='#full-quote' >&#8220;{{testimonial.body|truncate|safe}}</a>&#8230;
							</blockquote>
							<cite class='m-top'>{{testimonial.poc}}, {{testimonial.poc_title}}<br style='margin-top:0;line-height:50%'>{{testimonial.poc_company}}</cite>
						</div>
					   </aside>
				   </div>
				   <div id='full-quote' class='periwinkle'>
						<blockquote class='quote-text'>
							{{testimonial.body|safe}}
						</blockquote>
						<cite>
							<p>{{testimonial.poc}}, {{testimonial.poc_title}}</p>
							<p style='margin-top:0;line-height:50%'>{{testimonial.poc_company}}</p>
						</cite>
					</div>
					<div class=''>
					{% endif %}
					  {% block content %}
					  {% endblock %}
				{% if testimonial %}				 
				  	</div>{# Closes the div class='fl row' #}
				</div>{# Closes the div style='' class='' #}
				{% endif %}	
			</div>{# Closes the div class='small-9 columns' #}		
		</article>
	</div>
	{% include 'footer.html' %}
	{% block javascript %}
	{% endblock %}
</body>