{% extends 'base.html' %}

{% import 'utilities.html' as utilities %}

{% block sidebar_nav %}	
	<nav class="">
		<h2  class="">Archives</h2>
		<ul>	
			{% for date, count in date_navigation %}
				{% set month = date[1] %}
				{% set year = date[0] %}
				<li><a href="/blog/archives/{{year}}/{{month}}" title="{{utilities.date_to_month(month)}} {{year}}">{{utilities.date_to_month(month)}} {{year}} ({{count}})</a></li>				
			{% endfor %}
		</ul>
	</nav>
	<nav class="">
		<h2 style="" class="">Categories</h2>
		<ul>	
			{% for category, count in category_navigation %}
				{% set title = category[0] %}
				{% set slug = category[1] %}
				<li><a href="/blog/categories/{{slug}}" title="{{title}}">{{title}} ({{count}})</a></li>			
			{% endfor %}
		</ul>
	</nav>
	<nav class="">
		<h2 style="" class="">Tags</h2>
		<ul>	
			{% for tag, count in tag_navigation %}
				{% set title = tag[0] %}
				{% set slug = tag[1] %}
				<li><a href="/blog/tags/{{slug}}" title="{{title}}">{{title}} ({{count}})</a></li>	
			{% endfor %}
		</ul>
	</nav>
{% endblock %}

{% block content %}	
<div class='large-9 columns'>
	{% if posts|length > 0 %}
	<div class="">	  
	     {{ utilities.make_blog(posts[0], authors[0]) }}
	</div>
	{% else %}
		No Posts found
	{% endif %}
	{% if posts|length > 1 %}		
		<div class='small-12 large-6 columns'>
			<div class='row'>
			 	{{ utilities.make_blog(posts[1], authors[1]) }}
			 </div>
		</div>
	{% endif %}
	{% if posts|length > 2 %}
		<div class='small-12 large-6 columns'>
			 {{ utilities.make_blog(posts[2], authors[2]) }}
		</div>
	{% endif %}
	{% if posts|length > 3 %}
		<div class='small-12 large-6 columns'>
			 {{ utilities.make_blog(posts[3], authors[3]) }}
		</div>
	{% endif %}
	{% if posts|length > 4 %}
		<div class='small-12 large-6 columns'>
			 {{ utilities.make_blog(posts[4], authors[4]) }}
		</div>
	{% endif %}
</div>
<nav id='blog_right_sidebar' class='large-3 columns '>
	{{ utilities.blog_right_sidebar(all_posts)}}
</nav>
{% endblock %}