{% extends 'base.html' %}
{% block content %}
{% for error in form.errors %}
    <span style="color: red;">[{{error}}]</span>
{% endfor %}
<form action="" method="post" name="contact">
    {{form.hidden_tag()}}
    <div class='element-invisible'>{{form.hidden}}</div>
    <div class='row'>
      <div class='large-2 columns'>      <label for='name' class=''>Name*:</label>      </div>
      <div class='large-4 columns'>{{form.name}} </div>
    </div>
    <div class='row'>
      <div class='large-2 columns'>      <label for='company' class=''>Company:</label>      </div>
      <div class='large-4 columns'>{{form.company}} </div>
    </div>
    <div class='row'>
      <div class='large-2 columns'>      <label for='phone_number' class=''>Phone Number:</label>      </div>
      <div class='large-4 columns'>{{form.phone_number}} </div>
    </div>
   <div class='row'>
      <div class='large-2 columns'>      <label for='email' class=''>Email*:</label>      </div>
      <div class='large-4 columns'>{{form.email}} </div>
    </div>
    <div class='row'>
      <div class='large-2 columns'>
        <label for='preference'>How do you prefer to be contacted?</label>
      </div>  
      <div class='large-4 columns'>
     {% for subfield in form.preference %}      
          {{ subfield }}
          {{ subfield.label }}      
  	 {% endfor %}
      </div>
    </div>
    <div class='row'>
      <div class='large-2 columns'>
        <label for='body'>Message*:</label>
      </div>
      <div class='large-4 columns'>
        {{form.body}}
      </div>
    </div>
    <div class='row '>
      <div class='large-push-5'>
        <input type="submit" value="Send!">
      </div>
    </div>
</form>
{% endblock %}