{% extends "services.html" %}
{% block description %}
<p>Printed materials are an important part of a company’s sales and marketing strategies. Professionally designed brochures and collateral are sure to attract both prospects and customers alike to your company’s products and services. Whether your organization needs a simple sell sheet, or 10,000 trifold brochures, please consider BR Graphic Design for a custom, professional design.
</p>
{% endblock %}
{% block content %}
<div id='services_print_design' class='large-12 columns small-center'>
	<ul class="large-6 columns m-top indent">
		<li><a href="{{url_for('portfolio_print_design')}}" title="Print Design Portfolio">Sales Brochures</a></li>
		<li><a href="{{url_for('portfolio_print_design')}}" title="Print Design Portfolio">Presentation Aids</a></li>
		<li>Tradeshow Displays and Materials</li>
	</ul>
	<ul class="large-6 columns m-top indent">
		<li>Product Data Sheets</li>
		<li>Sales Templates (Proposals, RFPs)</li>
		<li><a href="{{url_for('portfolio_print_design')}}" title="Print Design Portfolio">Sell Sheets</a></li>
	</ul>
</div>
{% endblock %}