{% extends "services.html" %}
{% import 'utilities.html' as utilities %}
{% block description %}

<p>A powerful online presence is an important tool for any successful business. As a 24/7 information hub, a website allows current and prospective customers to really learn about an organization’s core values, products, and services. At BR Graphic Design, we take this very seriously. Each website is 100% custom designed and carefully crafted to project a unique look and feel for our clients.</p>
{% endblock %}
{% block content %}
<section id='services_website_design' class="large-12 columns small-center m-top">
	<h1 class='element-invisible'>Services we provide</h1>
	<div class="small-6 columns">
		<h2 class="subtitle underline">Included Services</h2>
		<p>The following services are included with each custom website package.</p>
		<h3 class="m-top ff3">Customized Website Design</h3>
		<h3 class="m-top ff3">Standards-Compliant CSS/HTML Production</h3>
		<h3 class="m-top ff3">Search Engine Optimization</h3>
		<ul class='indent'>
			<li>Keyword Research</li>
			<li>Sitemap Generation</li>
			<li>Search Engine Submission</li>
			<li>Semantic Markup</li>
		</ul>
		<h3 class="m-top ff3 ">Cross Browser Compatibility</h3>
		<ul class='indent'>
			<li>Mobile Variants</li>
			<li>Internet Explorer 8.0+</li>
			<li>Mozilla Firefox 3.0+</li>
			<li>Google Chrome</li>
			<li>Safari 5+</li>
		</ul>
		<h3 class="m-top ff3 ">All Project Meetings, Phone Calls, and Emails</h3>
	</div>
	<div class="small-6 columns last">
		<h2 class="subtitle underline">Add-Ons</h2>
		<p>Depending on the nature of your business, a company may require additional features that are outside the scope of a static website. For those clients, we are happy to offer the following add-on services:</p>
		<h3 class="m-top ff3 ">Content Management Systems (CMS)</h3>
		<ul class='indent'>
			<li>A CMS add-on allows the website administrator to log into the website and make changes to the content (example: blog posting, career opportunities, etc.)</li>
		</ul>
		<h3 class="m-top ff3 ">e-Commerce/Shopping Cart Module</h3>
		<ul class='indent'>
			<li>An e-Commerce module allows the client to sell merchandise on the website. This module is routinely packaged with a Content Management System to allow the client to have full editing control over the attributes and options of the product.</li>
		</ul>
		<h3 class="m-top ff3 ">Social Media Setup</h3>
		<ul class='indent'>
			<li>If a client does not have a company profile listed on Facebook, Twitter, or LinkedIn, we can help.</li>
		</ul>
	</div>
</section>
{{ utilities.make_slideshow(slideshow[1], slideshow[0], slideshow[2]) }}
{% endblock %}