{% extends "services.html" %}
{% block description %}
<p>Printed materials are an important part of a company’s sales and marketing strategies. Professionally designed brochures and collateral are sure to attract both prospects and customers alike to your company’s products and services. Whether your organization needs a simple sell sheet, or 10,000 trifold brochures, please consider BR Graphic Design for a custom, professional design.
</p>
{% endblock %}
{% block content %}
<ul class="sixcol m-top">
	<li class="indent"><a href="http://brgdonline.com/portfolio/print-design/" title="Print Design Portfolio">Sales Brochures</a></li>
	<li class="indent"><a href="http://brgdonline.com/portfolio/print-design/" title="Print Design Portfolio">Presentation Aids</a></li>
	<li class="indent">Tradeshow Displays and Materials</li>
</ul>
<ul class="sixcol m-top last">
	<li class="indent">Product Data Sheets</li>
	<li class="indent">Sales Templates (Proposals, RFPs)</li>
	<li class="indent"><a href="http://brgdonline.com/portfolio/print-design/" title="Print Design Portfolio">Sell Sheets</a></li>
</ul>
{% endblock %}