{% extends "services.html" %}
{% block description %}
<p>A number of services need to come together seemlessly during the crafting of a corporate identity. For example, photography, social media setup, or consulting services may not be included in a standard website or print design package. That’s why at BR Graphic Design, we strive to offer you a full range of service products so that you can rest assured that your entire corporate identity package will be crafted with consistency.
</p>
{% endblock %}
{% block content %}
<ul class="sixcol m-top">
	<li class="indent">Consulting Services</li>
	<li class="indent"><a href="http://brgdonline.com/portfolio/other-services/" title="Other Services">Product Photography</a></li>
</ul>
<ul class="sixcol m-top last">
	<li class="indent">Social Media Setup and Design</li>
	<li class="indent">Copywriting</li>
</ul>
{% endblock %}