{% extends "services.html" %}
{% import 'utilities.html' as utilities %}
{% block description %}
<p>A number of services need to come together seemlessly during the crafting of a corporate identity. For example, photography, social media setup, or consulting services may not be included in a standard website or print design package. That’s why at BR Graphic Design, we strive to offer you a full range of service products so that you can rest assured that your entire corporate identity package will be crafted with consistency.
</p>
{% endblock %}
{% block content %}
<div id='services_other_services' class='large-12 columns small-center'>
	<ul class="large-6 columns m-top indent">
		<li>Consulting Services</li>
		<li><a href="{{url_for('portfolio_other_services')}}" title="Other Services">Product Photography</a></li>
	</ul>
	<ul class="large-6 columns m-top indent">
		<li>Social Media Setup and Design</li>
		<li>Copywriting</li>
	</ul>
</div>
{{ utilities.make_slideshow(slideshow[1], slideshow[0], slideshow[2]) }}
{% endblock %}